<!-- This is the HTML file where you lay out your app window. -->
<!-- Use normal HTML with Bootstrap, make sure the objects you want to control
     have id attributes, and starting with a div as the outer level is probably
     good. -->
<!-- You can delete this comment once you've read it. -->
{% block content %}
<div class="row">
    <div class="span4">
        <label>Year</label>
        <input id="slider_year" type="range" class="plot_control"
            value="1880" min="1880" max="2000" step="10">
    </div>
    <div class="span4">
        <label>Sex</label>
        <label class="radio">
            <input type="radio" id="radio_male" class="plot_control"
            name="sex" value="male"> Male
        </label>
        <label class="radio">
            <input type="radio" id="radio_female" class="plot_control" 
            name="sex" value="female"> Female
        </label>
    </div>
    <div class="span4">
        <a id="btn_load" class="btn">Load Data</a>
    </div><!--.span4-->
</div><!--.row-->
<div class="row">
    <div class="span6">    
        <img id="img_plot" data-visible="true"></img> 
    </div><!--.span6-->
    <div class="span6">
        <table id="my_table" data-visible="true"></table>
    </div><!--.span6-->
</div><!--.row-->
{% endblock content %}

{% block header %}
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
{% endblock header %}

{% block footer %}
<script
  src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js">
</script>
{% endblock footer %}
