<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ashiba: {{ app_name }}</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/default_style.css" />
  <link rel="icon" type="image/png" href="{{ favicon }}" />
</head>

<body class="bg-clouds">
  <div id="maincontainer" class="container roundedcorners pretty-border">
    {% block content %}{% endblock %}
  </div><!-- #maincontainer -->
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script 
  src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js">
</script>
<link rel="stylesheet" type="text/css" 
href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="static/ashiba.js"></script>
{% block footer %}{% endblock %}
